
.container{
	/* padding:10px;
	margin:20px;	 */
	/*width:800px;*/
	height:500px;
	
}
.column{
	width:40%;
	height: 80%;
	float:left;
	border-width: thick;	
	border-color:black;
	border-style: solid;
	border-width: thick;

}

.left {
	float:left;
	background-color: cadetblue;
	
}
.right {
	float: right;
	background-color: grey;
	
}
#errorText{
	color: red;
}
